@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/static/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-Medium;
  src: url(fonts/static/OpenSans-Medium.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(fonts/static/OpenSans-Bold.ttf);
}